{% extends "base.html" %}

{% block title %} Workbench {% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>Workbench</h1>
        <p>Process Uploaded Images</p>
        {% if pages %}
        <ul>
            {% for p in pages %}
            <li><img src="{{ p.image_thumb.url }}"></img>
            {% endfor %}
        </ul>
        {% else %}
        <p>No pages have been uploaded. <a href="{% url upload%}">Upload an image</a>.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
